h1{color: rgba(235, 204, 30, 0.732); 
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-align: center; font-size: xxx-large;}

main {text-align: center;}

body{background-color: rgba(23, 8, 233, 0.698);} 

body{background-image: url(stjernenat-AI.jpeg);
    background-size: cover;
background-image: linear-gradient();
} 

#brødtekst{text-align: center;}

p{color: rgba(235, 204, 30, 0.759); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
font-size:large; background-color: rgba(15, 16, 16, 0.491);} 

h4{color: rgba(235, 204, 30, 0.92); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: larger;}

#brødtekst{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size:x-large;}
.sildebensfletning{border-style:double; } 
.Denklassiskefletning{border-style: double;} 
.Franskfletning{border-style: double;} 
em{
    color: rgb(235, 205, 30, 0.673); font-size: x-large;
}
main{margin: 5%}
div{align-items: center;} 

.linkTilAndetKunst{color: rgb(235, 204, 30, 0.759); margin-top: 20%; text-align: left;}
.ul{}